<section class="event-container">
  <div class="event-hero-image" [ngStyle]="{'background-image': 'url('+event.goalPicUrl+')'}">
    <h2>
      <span>Zebrano już <span class="highlighted">{{event.donationSum}} zł</span></span>
      <span>z pomocą <span class="highlighted">{{event.donationAmount}}</span> osób</span>
    </h2>

  </div>
  <div class="centered">
    <div class="event-hero-description">
      <div class="section-left">
        <div class="image-wrapper">
          <img src={{event.picUrl}} />
        </div>
      </div>
      <div class="section-right">
        <div class="event-title">
          <h3>{{event.title}}</h3>
          <a routerLink="/donate/{{event.link}}">PODARUJ</a>
        </div>
        <p class="date">Akcja trwa do: {{event.date}}</p>
        <p>{{event.text}}</p>

        <h4>{{event.goalTitle}}</h4>
        <p>{{event.goalDecription}}</p>
      </div>
    </div>

    <div class="event-help">
      <div class="help-title">
        <h3>Jak mogę pomóc?</h3>
      </div>
      <div class="help-steps">
        <div class="help-step">
          <div class="step-number">
            <div class="bordered"><span>1</span></div>
          </div>
          <p>1. Wpłacasz na wybraną składkę dowolną kwotę.</p>
        </div>

        <div class="help-step">
          <div class="step-number">
            <div class="bordered"><span>2</span></div>
          </div>
          <p>2. Otrzymujesz na podany dres email certyfikat stanowiący potwierdzenie wpłaty.</p>
        </div>

        <div class="help-step">
          <div class="step-number">
            <div class="bordered"><span>2</span></div>
          </div>
          <p>3. Certyfikat jest przeznaczony do wydrukowania i stanowi idealny prezent dla pary młodej, solenizanta,
            jubilatów.</p>
        </div>
      </div>
    </div>
  </div>
</section>