.event-hero-description {
  display: flex;
  margin-top: 60px;
}
.event-hero-image {
  position: relative;
}
.event-hero-image h2 {
  position: absolute;
  bottom: 70px;
  padding: 30px 30px;
  left: 70px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 30px;
}

.highlighted {
  font-weight: 600;
  font-size: 40px;
  padding: 0 5px;
}

.event-hero-image h2 > span {
  display: block;
  color: white;
  font-weight: 400;
}

.centered {
  position: relative;
  height: 100%;
  display: block;
  min-height: 500px;
}

.event-hero-image {
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
}

.event-hero-description .section-left {
  margin-right: 40px;
}
.event-help h3 {
  margin-bottom: 0;
  margin: 0 auto;
}
.bordered {
  background-color: #af394e;
}
.event-help {
  margin-bottom: 80px;
}

.event-hero-description {
  margin-bottom: 80px;
}

h3 {
  font-size: 34px;
}

.event-title {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.event-title a {
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  background: #eb1751;
  border: 0;
  padding: 10px 20px;
  border-radius: 49px;
  color: white;
  cursor: pointer;
  box-shadow: -1px 2px 10px 1px rgba(0, 0, 0, 0.3);
}

h4 {
  margin: 40px 0 20px;
}

.date {
  margin-bottom: 20px;
  color: #999999;
  font-size: 18px;
}
@media screen and (max-width: 700px) {
  .event-hero-image {
    height: 300px;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .event-hero-image h2 {
    left: 20px;
  }

  .event-hero-description {
    margin: 40px 0;
  }

  .event-hero-description .section-left {
    margin-right: 20px;
  }

  .image-wrapper {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 700px) {
  .event-title {
    margin-bottom: 14px;
  }

  .date {
    font-size: 15px;
    margin-bottom: 14px;
  }

  h4 {
    margin: 20px 0 14px;
  }
}
