.footer {
  border-top: 1px solid #DDDDDD;
  background-color: white;
  height: 200px;
}


.centered {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 30px 0 0 0;
  height: 100%;
}

.footer_info {
  background-color: white;
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
}

.footer_address, .footer_contact{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  float: left;
  width: 50%;
  color: #000000;
}

.footer_socialmedia{
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
  height: 100px;
}

.footer_socialmedia ul{
  list-style-type: none;
  padding: 0;
}

.footer_socialmedia ul li{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 20px;
  float: left;
}

.footer_socialmedia ul li img{
  height: 24px;
}
.footer_socialmedia a{
  padding: 10px;
}
