<div class="centered">

  <div class="user-name">
    <p> Imie Nazwisko</p>
  </div>

  <div class="events-list">

    <h3 class="title">Twoje wydarzenia</h3>

    <div class="add-icon">
      <a routerLink="/create-event"><span class="icon-wrapper">+</span>
      </a>
      <div class="description">
        <h5><a routerLink="/create-event">Dodaj nową zbiórkę</a></h5>
      </div>
    </div>

    <div class="event" *ngFor="let event of events">
      <div class="image-wrapper">
        <img src={{event.picUrl}} />
      </div>
      <div class="description">
        <h5><a routerLink="/event/{{event.link}}">{{event.title}}</a></h5>
        <p>{{event.text}}</p>
      </div>
    </div>

  </div>
</div>