<h3>Dołądcz do nas!</h3>
<form #createUserForm="ngForm" (ngSubmit)="onSubmit(createUserForm)">
  <div class="form-group">
    <label for="name">Nazwa użytkownika</label>
    <input placeholder="Wpisz nazwę użytkownika" type="text" class="form-control" id="name" required [(ngModel)]="model.name"
      name="name" #name="ngModel">
  </div>

  <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
    <div *ngIf="name.errors.required">
      Nazwa użytkownka jest wymagana
    </div>
  </div>

  <div class="form-group">
    <label for="email">E-mail</label>
    <input placeholder="Wpisz email" type="text" class="form-control" id="email" required [(ngModel)]="model.email"
      name="email" #email="ngModel">
  </div>

  <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
    <div *ngIf="email.errors.required">
      Adres email jest wymagany
    </div>
    <div *ngIf="email.errors.email">
      Wpisz poprawny adres email
    </div>
  </div>

  <div class="form-group">
    <label for="password">Hasło</label>
    <input placeholder="Wpisz hasło" type="password" class="form-control" id="password" required [(ngModel)]="model.password"
      name="password" #password="ngModel">
  </div>

  <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
    <div *ngIf="password.errors.required">
      Hasło jest wymagane
    </div>
  </div>

  <div class="form-group">
    <label for="password-confirm">Powtórz hasło</label>
    <input placeholder="Powtórz hasło" type="password" class="form-control" id="password-confirm" required pattern="{{model.password}}"
      [(ngModel)]="model.passwordConfirm" name="passwordconfirm" #passwordconfirm="ngModel">
  </div>

  <div *ngIf="passwordconfirm.invalid && (passwordconfirm.dirty || passwordconfirm.touched)" class="alert alert-danger">
    <div *ngIf="passwordconfirm.errors.required">
      Powtórz hasło
    </div>
    <div *ngIf="passwordconfirm.errors.pattern">
      Hasła się nie zgadzają
    </div>
  </div>

  <button type="submit" class="btn btn-success" [disabled]="!createUserForm.form.valid">Utwórz konto</button>
  <div class="register">Posiadasz już konto? <a routerLink="/login">Zaloguj się</a></div>
</form>