/* You can add global styles to this file, and also import other style files */
html,
body {
  padding: 0;
  margin: 0;
}
body {
  font-family: Calibri, sans-serif;
  color: rgb(77, 77, 75);
  font-size: 20px;
  line-height: 0.989;
  font-weight: 100;
}

h1 {
  color: rgb(77, 77, 75);
  font-size: 187%;
  line-height: 100%;
}
h2 {
  font-size: 24px;
  font-weight: 500;
}

h4 {
  color: #616161;
}

p {
  font-size: 21px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

.centered {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 60px;
}
html,
body {
  padding: 0;
  margin: 0;
}
body {
  font-family: Calibri, sans-serif;
  color: rgb(77, 77, 75);
  font-size: 20px;
  line-height: 0.989;
  font-weight: 100;
}

h1 {
  color: rgb(77, 77, 75);
  font-size: 187%;
  line-height: 100%;
}
h2 {
  font-size: 24px;
  font-weight: 500;
}

h4 {
  color: #616161;
}

p {
  font-size: 21px;
}

.image-wrapper {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  flex-grow: 0;
  flex-shrink: 0;
}

.image-wrapper > img {
  object-fit: cover;
  position: relative;
  height: 100%;
  left: 50%;
  transform: translate(-50%);
}

.help-title h3 {
  text-align: center;
  font-size: 34px;
}

.help-steps {
  padding: 40px 0 0 0px;
  max-width: 800px;
  box-sizing: border-box;
  margin: 0 auto;
}

.help-step {
  display: flex;
  margin-bottom: 50px;
}

.help-step:last-of-type {
  margin-bottom: 0;
}

.help-step .step-number {
  border: 2px dashed #8f8f8f;
  color: white;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  padding: 4px;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
}

.help-step p {
  margin-left: 40px;
  display: inline-block;
}

.help-step .step-number span {
  width: 100%;
  font-size: 20px;
  text-align: center;
}
.bordered {
  background-color: #214869;
  border-radius: 50%;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
/*  */

textarea {
  width: 100%;
  resize: none;
  font-size: 12px;
  padding: 7px;
  border: 1px solid#ced2dc;
  border-radius: 3px;
  color: rgb(77, 77, 75);
  box-sizing: border-box;
}

label {
  display: block;
  font-size: 15px;
  font-weight: bold;
  color: rgb(77, 77, 75);
  margin: 9px 0;
}

input {
  display: block;
  width: 100%;
  font-size: 12px;
  padding: 7px;
  border: 1px solid#ced2dc;
  border-radius: 3px;
  box-sizing: border-box;
}

.alert-danger {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

::placeholder {
  color: rgb(165, 165, 165);
}

button {
  display: block;
  margin: 8px auto;
  min-width: calc(100% - 20px);
  border: 0;
  background: #eb1751;
  padding: 9px 0;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.3);
}

button:disabled {
  background: #d5d5d5;
}
.register {
  font-size: 16px;
  margin: 25px 0 5px;
}

.register a {
  font-weight: bold;
  color: inherit;
}

/* inputs  */

.inputs {
  width: 800px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
}

.input {
  display: inline-block;
  margin: 0 8px;
}

.input:last-of-type {
  margin-right: 0;
}

.motive-group label {
  box-sizing: border-box;
}

.motive-group input {
  visibility: hidden;
}

.motive-group p {
  margin: 10px 0;
  text-align: center;
}

.motive-group input:checked + label {
  border: 2px dashed rgb(187, 187, 187);
}

.motive-group label {
  width: 250px;
  height: 310px;
  overflow: hidden;
  cursor: pointer;
}

.motive-group img {
  height: 100%;
  display: block;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.motive-group > p {
  display: block;
  font-size: 15px;
  font-weight: bold;
  color: rgb(77, 77, 75);
  margin: 20px 0 0;
}

/* event form  */

.event-form {
  width: 400px;
  margin: 80px auto;
}

@media screen and (max-width: 860px) {
  .inputs {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  p {
    font-size: 16px;
  }

  .centered {
    padding: 0 20px;
  }

  .help-steps {
    padding: 20px 0 0 0;
  }

  .event-form {
    padding: 0 20px;
    width: 100%;
    max-width: 440px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 600px) {
  .inputs {
    width: 100%;
    display: block;
    text-align: center;
  }
  .input {
    display: inline-block;
  }
}
