<div class="inside" #menu>
    <nav>
      <div id="mobile_menu">
        <div class="logo_mobile"><img src="../../assets/img/logo_bez_cienia.png" alt="logo jim"></div>
        <a href="" class="menu_icon" (ngClick)="onClick()"><img src="../../assets/img/ikona_menu.png" alt="menu bars"></a>
        <ul>
          <li class="link_active"><a href="/">JAK TO DZIAŁA?</a></li>
          <li class="menu_block"><a href="/create-event">ZORGANIZUJ ZBIÓRKĘ</a></li>
          <li class="menu_block"><a href="/login">ZALOGUJ SIĘ</a></li>
        </ul>
      </div>
      <div id="main_menu">
        <ul>
          <li class="logo"><img src="../../assets/img/logo_bez_cienia.png" alt="logo jim"></li>
          <li class="link_active"><a href="/">JAK TO DZIAŁA?</a></li>
          <li class="menu_block"><a href="/create-event">ZORGANIZUJ ZBIÓRKĘ</a></li>
          <li class="menu_block"><a href="/login">ZALOGUJ SIĘ</a></li>
        </ul>
      </div>
    </nav>
</div>
