header{
  min-width: 450px;
  margin: 0;
  padding: 0;
}

.inside{
  box-sizing: border-box;
  width:100%;
  background-color: white;
  position: fixed;
  top: 0;
  padding: 10px 0 10px 100px;
}
#mobile_menu{
  display: none;
}
.menu_icon img{
  visibility: hidden;
  display: none;
}

.logo_mobile img {
  visibility: hidden;
  display: none;
}

.inside.opened{
  height:221px;
}

@media only screen and (max-width: 700px) {
  .inside {
    width: 100%;
    overflow: hidden;
    height: 67px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    padding: 10px 0 10px 10px;
  }

  #mobile_menu{
    display: block;
  }
  .logo_mobile img {
    visibility: visible;
    width: 48px;
    height: 48px;
    display: block;
    float: left;
    position: relative;
    z-index: 101;
  }

  .menu_icon{
    float: right;
    padding-right: 20px;
    padding-top: 12px;
  }

  .menu_icon img {
    visibility: visible;
    width: 24px;
    height: 24px;
    display: block;
    float: right;
    position: relative;
    z-index: 101;
  }

  nav {
    padding: 0;
    height: 100%;
  }

  nav ul{
    display: block;
    margin: 0;
    background-color: white;
  }

  nav ul li{
    width:100%;
    display: block;
    padding: 16px;
  }

  #main_menu {
    display: none;
    visibility: hidden;
  }
  #main_menu ul{
    display: none;
    visibility: hidden;
  }
  #main_menu ul li{
    display: none;
    visibility: hidden;
  }


}

#main_menu{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: left;
  width: 1200px;
  list-style-type: none;
  font-size: 16px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
}

li{
  float: left;
  padding: auto;
  font-weight: bold;
}

li.menu_block, li.link_active{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 20px;
}

.menu_block a{
  text-decoration: none;
  color: #000000;
  font-family: Calibri, Tahoma, Verdana, sans-serif;
}

.menu_block a:hover{
  text-decoration: none;
  color: #222222;
  font-family: Calibri, Tahoma, Verdana, sans-serif;
}

.link_active a{
  text-decoration: none;
  color: #E41E51;
  font-family: Calibri, Tahoma, Verdana, sans-serif;
}

.logo {
  position: relative;
  z-index: 100;
}

.logo img{
  width: 50px;
}
