<h3>Zaloguj się aby zobaczyć swoje zbiórki</h3>
<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <div class="form-group">
    <label for="email">E-mail</label>
    <input placeholder="Wpisz email" type="text" class="form-control" id="email" required [(ngModel)]="model.email"
      name="email" #email="ngModel" email>

    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
      <div *ngIf="email.errors.required">
        Adres email jest wymagany
      </div>
      <div *ngIf="email.errors.email">
        Wpisz poprawny adres email
      </div>
    </div>

    <div class="form-group">
      <label for="password">Hasło</label>
      <input placeholder="Wpisz hasło" type="password" class="form-control" id="password" required [(ngModel)]="model.password"
        name="password" #password="ngModel">
    </div>

    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
      <div *ngIf="password.errors.required">
        Hasło jest wymagane
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Zaloguj się</button>
  <p class="register">Nie posiadasz jeszcze konta? <a routerLink="/register">Zarejestruj się</a></p>
</form>